# Python 3.11.9
fastapi
uvicorn
langchain
openai
chromadb
python-dotenv
langchain-openai
langchain_community
python-multipart
langserve
pydantic==1.10.13
html2text
beautifulsoup4
redis
langchain_google_community